.navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.section-nav {
    padding-left: 0;
    border-left: 1px solid gainsboro;
}

.nav-item {
    display: block;
}

.nav-item a {
    display: block;
    padding: 0.2rem 1rem;
    color: grey;
    text-decoration: none;
}

.nav-item a:hover {
    color: black;

}


.hello {
    font-size: calc(1.5rem + 3.3vw);
}

.link-target::before {
    display: block; 
    content: " "; 
    margin-top: -285px; 
    height: 285px; 
    visibility: hidden; 
    pointer-events: none;
}

.vl {
    width: 3px;
    padding: 0%;
}

.icon-card {
    height: 100px;
    margin: auto;
    position: relative;
}


main h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card .progress {
    border-radius: calc(.25rem - 1px);
    height: 12px;
    margin-bottom: 1rem;
}
