

/*New*/
.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}

.section-nav {
  padding-left: 0;
  border-left: 1px solid gainsboro;
}

.nav-item {
  display: block;
}

.nav-item a {
  display: block;
  padding: 0.2rem 0rem;
  color: silver;
  text-decoration: none;
}

.nav-item a:hover {
  color: white;

}


.hello {
  font-size: calc(1.5rem + 3.3vw);
}

.link-target::before {
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
  pointer-events: none;
  z-index: -1;
}

.vl {
  width: 3px;
  padding: 0%;
}

.icon-card {
  height: 15vh;
  margin: auto;
  position: relative;
}


main h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.card .progress {
  border-radius: calc(.25rem - 1px);
  height: 12px;
  margin-bottom: 1rem;
}

.card-flag {
  width: 100%;
  border-radius: calc(.25rem - 1px);
}

img{
  max-width: 80em;
}

.epfl {
  background-color: red;
}

.unilu {
  background-color: #00AAE5;
}

.kyoto {
  background-color: #0E2058;
}

.vauban {
  background-color: #494142;
}

.grey-bg {
  background-color: rgb(231, 231, 231);
}